.banner-contenant{
    margin: auto;
    margin-bottom: 30px;
    width: 90%;
    height: 223px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    max-width: 1440px;
}
.banner-image{
    width: 100%;
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
    filter: brightness(75%);
}
.banner-text{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
}

@media all and (max-width: 800px){
    .banner-contenant{
        height: 111px;
    }
    .banner-text{
        font-size: 24px;
        top: 35px;
    }
}