.collapse{
    margin-bottom: 30px;
    width: 100%;
}
.collapse-withicon{
    background-color: #FF6060;
    height: 52px;
    width: 100%;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}
.collapse-title{
    margin-left: 15px;
}
.collapse-icon{
    margin-right: 15px;
}
.collapse-background{
    background-color: #F6F6F6;
    margin-top: 0;
    height: 100%;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
}
.collapse-descrption{
    color: #FF6060;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    padding-top: 20px;
}
.fa-angle-down{
    font-size: 25px;
}
.fa-angle-up{
    font-size: 25px;
}

@media all and (max-width: 800px){
    .collapse-withicon{
        height: 35px;
        border-radius: 5px;
    }
    .collapse-title{
        font-size: 13px;
    }
    .collapse-background{
       padding-bottom: 0;
    }
    .collapse-descrption{
        font-size: 12px;
    }
    .fa-angle-down{
        font-size: 15px;
    }
    .fa-angle-up{
        font-size: 15px;
    }
}