.collapselogement{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 43%;
    
}
.collapselogement-withicon{
    background-color: #FF6060;
    height: 35px;
    width: 100%;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}
.collapselogement-title{
    margin-left: 15px;
}
.collapselogement-icon{
    margin-right: 15px;
}
.collapselogement-card{
    width: 100%;
}
.collapselogement-background{
    background-color: #F6F6F6;
    margin-top: 0;
    height: 200px;
    margin-bottom: 20px;
}
.collapselogement-description{
    color: #FF6060;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    padding-top: 20px;
    list-style: none;
}