header{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    width: 180px;
    height: 60px;
}
.header-link{
    color: #FF6060;
    margin-left: 30px;
    font-size: 20px;
}

@media all and (max-width: 600px){
    .header-logo{
        width: 120px;
        height: 40px;
    }
    .header-link{
        font-size: 12px;
        font-weight: bold;
    }
}