.main-informations{
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FF6060;
    max-width: 1440px;
}
.main-localisation{
    width: 70%;
}
.main-title{
    font-size: 36px;
    margin-bottom: 0;
    margin-top: 0;
}
.main-city{
    font-size: 18px;
    margin-top: 5px;
}
.main-tags{
    display: flex;
    flex-wrap: wrap; 
}
.main-tag{
    color: white;
    font-size: 14px;
    background-color: #FF6060;
    border-radius: 10px;
    padding: 3px 25px 2px 25px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.main-commentaires{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-profil{
    display: flex;
    align-items: center;
}
.main-name{
    font-size: 18px;
}
.main-photo{
    border-radius: 100px;
    width: 64px;
    height: 64px;
    margin-left: 10px;
}
.main-stars{
    font-size: 30px;
    margin-top: 10px;
}

@media all and (max-width: 800px){
    .main-informations{
        display: flex;
        flex-direction: column;
    }
    .main-title{
        font-size: 18px;
    }
    .main-city{
        font-size: 14px;
    }
    .main-tag{
        font-size: 10px;
        border-radius: 5px;
    }
    .main-commentaires{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .main-name{
        font-size: 14px;
    }
    .main-photo{
        height: 45px;
        width: 45px;
    }
    .main-stars{
        font-size: 20px;
    }
}