.slideshow-content{
    width: 90%;
    height: 400px;
    margin: auto;
    border-radius: 25px;
}
.slideshow-photo{
    position: absolute;
    margin: auto;
    width: 90%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
}
.fa-angle-left{
    position: absolute;
    font-size: 80px;
    color: white;
    top: 340px;
}
.fa-angle-right{
    position: absolute;
    font-size: 80px;
    color: white;
    top: 340px;
    right: 5%;
}
